$yellow: yellow;
$width_100 : 100%;
$green: green;


@mixin reset-list {
    list-style: none;
    width: $width_100;
    height: 100%;
}
body{
    background-color: $yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,footer{
    height: 100px;
    background-color: $green;
}

main{
    background-color: orange;
    color: pink;
    font-size: 50px;
    text-transform: uppercase;
}